.main-container{
    display: flex;
    gap:10px;
    justify-content: space-between;
}
.menu-container{
    gap:10px;
}
.vertical-flex-container{
    display: flex;
    flex-direction: column;
}
.flexible-row{
    display: flex;
    gap:10px;
}
.hidden{
    display:none;
}
.canvas-container{
    border:1px solid;
}