.main-container{
    display: flex;
    gap:10px;
    justify-content: space-between;
}
.menu-container{
    flex-grow: 1;
    gap:10px;
}
.vertical-flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.flexible-row{
    display: flex;
    gap:10px;
}
.canvas-container{
    border:1px solid;
}